---
import FormStepperIsland from '../components/FormStepperIsland.astro';
import '../styles/global.css';
---

<html>
  <head>
    <title>Apply Now</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body class="p-8 font-sans">
    <h1 class="text-2xl font-bold mb-4">Apply for the Job</h1>

    <FormStepperIsland />
  </body>
</html>